* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: purple;
}

.container-box {
  max-width: 600px;
  width: 100%;
  background-color: white;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  text-align: center;
  padding-top: 10px;
}

.container-list {
  max-width: 100%;
}

input[type='text'] {
  display: block;
  width: 100%;
  padding: 10px;
  border-top: 30px;
  border-left: 10px;
  border-right: 10px;
}

button {
  margin-top: 20px;
  margin-left: 220px;
  cursor: pointer;
  border-radius: 34px;
  background-color: blueviolet;
  color: rgb(0, 0, 0);
  padding: 8px 25px;
  font-size: 24px;
}

ul {
  max-width: 600px;
  width: 100%;
  background-color: white;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px 30px;
}

li {
  list-style: none;
  color: black;
  font-size: 24px;
  justify-content: space-between;
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 20px 30px;
}

a {
  text-decoration: none;
  color: red;
}