* {
  margin: 0;
  padding: 0;
}

h2 {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: rgb(31, 31, 31);
  color: rgb(231, 227, 227);
  box-shadow: 3px 3px 3px 2px rgba(31, 0, 0, 0.2)
}

body {
  font-family: 'Corben';
  width: 100%;
  height: 100%;
  background-color: rgb(57, 66, 85);
}

.container {
  padding: 20px;
  margin: 5px;
}

#header2 {
  text-align: center;
  padding-bottom: 10px;
  color: rgb(128, 128, 184);
  font-weight: bolder;

}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.erroMessage {
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: cornsilk;
  color: crimson;
  font-size: 20px;
  font-weight: bolder;
}

.inputList {
  width: 300px;
  height: 20px;
  padding: 8px;
  border-radius: 10px;
}

.inputDate {
  width: 120px;
  height: 20px;
  padding: 8px;
  border-radius: 10px;
}

label {
  text-align: center;
  color: rgb(128, 128, 184);
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;

}

#div2{
  padding: 10px;
}

#inputBtn {
  width: 100px;
  height: 40px;
  border-radius: 25px;
  border-color: rgb(29, 28, 28);
  background-color: rgb(29, 28, 28);
  border-style: hidden;
  color: whitesmoke;
  font-family: 'Corben';
  font-size: 15px;
  font-weight: bolder;
  padding: 2px;
}

#inputBtn:hover {
  background-color: rgb(73, 72, 72);
  cursor: pointer;
  color: black;
}

#inputBtn:active {
  background-color: rgb(126, 125, 125);
  color: black;

}

.divparagraph{
  width: auto;
  height: auto;
  border: solid 1px;
  background-color: whitesmoke;
  display: flex;
  justify-content: left;
  align-items: center;
}